@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    .grid-rows-layout {
        grid-template-rows: auto 1fr;
    }

    .grid-cols-layout {
        grid-template-columns: 16rem 1fr;
    }

    .scroll-bar::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 4px;
        height: 25px;
    }

    .scroll-bar::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .scroll-bar {
        position: relative;
        left: 4px;
        border-radius: 4px;
        box-shadow: inset 1px 0px 0px #E8E8E8, inset -1px 0px 0px #F0F0F0;
    }

    .scroll-bar::-webkit-scrollbar {
        width: 10px;
    }




}